<div class="pokemon-card">
    <div class="box" *ngFor="let pokemon of pokemons">

        <img [src]="pokemon.sprites.front_default" alt="pokemon-image">
        <h3>{{ pokemon.name }}</h3>
        <p>
            Type: {{ pokemon.types[0].type.name }}
        </p>
        <p>
            Height: {{ pokemon.height }}
        </p>
        <p>
            Health: {{ pokemon.stats[0].base_stat }}
        </p>
        <p>
            Attacking Power: {{ pokemon.stats[1].base_stat }}
        </p>

        <p class="price">
            Price: {{ pokemon.height * 3 }}
        </p>

        <button class="cart"> Add To Cart </button>
    </div>
</div>
