/* You can add global styles to this file, and also import other style files */


* {
    padding: 0;
    margin: 0;
}

html {
    background: #14162b;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* app-header {
    position: fixed;
    width: 100%;
    margin-bottom: 1000px;
} */